<?xml version="1.0" encoding="utf-8"?>
<dataConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="14.0.7727.0">
	<connectionStrings>
		<add connectionString="data source=DESKTOP-LF3RQ3G;Integrated Security=SSPI;initial catalog=sitefinityFirst" name="Sitefinity" />
	</connectionStrings>
</dataConfig>